node-red/flows (1).json
[
    {
        "id": "7804b15f6feae303",
        "type": "tab",
        "label": "Controle AC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a71981b357e1ecb",
        "type": "mqtt in",
        "z": "7804b15f6feae303",
        "name": "Temperatura",
        "topic": "casa/sala/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "5ca7ed1257925430",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "340658b4618fd890",
                "60476db0a793383b",
                "221a63cb4a635416"
            ]
        ]
    },
    {
        "id": "340658b4618fd890",
        "type": "ui_chart",
        "z": "7804b15f6feae303",
        "name": "Histórico de Temperatura",
        "group": "8f81c00445d4560b",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "60476db0a793383b",
        "type": "ui_text",
        "z": "7804b15f6feae303",
        "group": "8f81c00445d4560b",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Texto Temperatura",
        "label": "Temperatura (°C):",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f0c3b39fbc431d7",
        "type": "mqtt in",
        "z": "7804b15f6feae303",
        "name": "Status AC",
        "topic": "casa/sala/ar_condicionado",
        "qos": "2",
        "datatype": "auto",
        "broker": "5ca7ed1257925430",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "bc50aa9b60ff35b3",
                "15c9192a1696b855"
            ]
        ]
    },
    {
        "id": "bc50aa9b60ff35b3",
        "type": "ui_switch",
        "z": "7804b15f6feae303",
        "name": "Controle AC",
        "label": "Ar-Condicionado",
        "tooltip": "",
        "group": "8f81c00445d4560b",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dc88737714fa7720",
        "type": "mqtt in",
        "z": "7804b15f6feae303",
        "name": "Umidade",
        "topic": "casa/sala/Umidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5ca7ed1257925430",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "dd7c87efbc528dc2",
                "b0f3b5d73b44fadc",
                "5f9d2f8c9e293b53"
            ]
        ]
    },
    {
        "id": "dd7c87efbc528dc2",
        "type": "ui_chart",
        "z": "7804b15f6feae303",
        "name": "Histórico deUmidade",
        "group": "8f81c00445d4560b",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Umidade",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b0f3b5d73b44fadc",
        "type": "ui_text",
        "z": "7804b15f6feae303",
        "group": "8f81c00445d4560b",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Texto Umidade",
        "label": "Umidade(%)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "221a63cb4a635416",
        "type": "debug",
        "z": "7804b15f6feae303",
        "name": "Debug Temperatura",
        "active": true,
        "complete": "true",
        "targetType": "obj",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "15c9192a1696b855",
        "type": "debug",
        "z": "7804b15f6feae303",
        "name": "Debug AC",
        "active": true,
        "complete": "true",
        "targetType": "obj",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "5f9d2f8c9e293b53",
        "type": "debug",
        "z": "7804b15f6feae303",
        "name": "Debug Umidade",
        "active": true,
        "complete": "true",
        "targetType": "obj",
        "x": 120,
        "y": 320,
        "wires": []
    },
    {
        "id": "5ca7ed1257925430",
        "type": "mqtt-broker",
        "name": "Boxer Mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "192.168.56.1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8f81c00445d4560b",
        "type": "ui_group",
        "name": "Ar condicionado",
        "tab": "9eb923d464e78603",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9eb923d464e78603",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]