node-red/flows.json
[
    {
        "id": "41f8f5b01b20b282",
        "type": "tab",
        "label": "Dashboard Ar-Condicionado",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64c25b996eed4ced",
        "type": "mqtt in",
        "z": "41f8f5b01b20b282",
        "name": "Temperatura",
        "topic": "sensor/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_id",
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "68df15b36bd813ee",
                "9effa000b937fdc9"
            ]
        ]
    },
    {
        "id": "82ef3de21cd39a30",
        "type": "mqtt in",
        "z": "41f8f5b01b20b282",
        "name": "Umidade",
        "topic": "sensor/umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_id",
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "7fb02540d81d43bb",
                "9eac9ffad67ba8de"
            ]
        ]
    },
    {
        "id": "756d3350fd105f31",
        "type": "mqtt in",
        "z": "41f8f5b01b20b282",
        "name": "Status Ar-Condicionado",
        "topic": "sensor/ar-condicionado",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_id",
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4002c42af79d1f5c"
            ]
        ]
    },
    {
        "id": "68df15b36bd813ee",
        "type": "ui_chart",
        "z": "41f8f5b01b20b282",
        "name": "Temperatura",
        "group": "group1",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Histórico de Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Nenhum dado",
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff00",
            "#0000ff"
        ],
        "outputs": 1,
        "x": 330,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7fb02540d81d43bb",
        "type": "ui_chart",
        "z": "41f8f5b01b20b282",
        "name": "Umidade",
        "group": "group1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Histórico de Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Nenhum dado",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00bfff",
            "#ffb6c1",
            "#00ff00"
        ],
        "outputs": 1,
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4002c42af79d1f5c",
        "type": "ui_text",
        "z": "41f8f5b01b20b282",
        "group": "group1",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Status Ar-Condicionado",
        "label": "Ar-Condicionado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "9effa000b937fdc9",
        "type": "ui_gauge",
        "z": "41f8f5b01b20b282",
        "name": "Alerta de Temperatura",
        "group": "group1",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura Atual",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00bfff",
            "#ff8000",
            "#ff0000"
        ],
        "seg1": "25",
        "seg2": "35",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "9eac9ffad67ba8de",
        "type": "ui_gauge",
        "z": "41f8f5b01b20b282",
        "name": "Alerta de Umidade",
        "group": "group1",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Umidade Atual",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00bfff",
            "#ff8000",
            "#ff0000"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "34f47e09dfb7faf5",
        "type": "ui_switch",
        "z": "41f8f5b01b20b282",
        "name": "Controle Manual",
        "label": "Ligar Ar-Condicionado",
        "group": "group1",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "sensor/ar-condicionado/controle",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "b0c14904bc684952"
            ]
        ]
    },
    {
        "id": "b0c14904bc684952",
        "type": "function",
        "z": "41f8f5b01b20b282",
        "name": "Ativar/Desativar AC",
        "func": "msg.payload = msg.payload ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "8c97635a47af3c57"
            ]
        ]
    },
    {
        "id": "8c97635a47af3c57",
        "type": "mqtt out",
        "z": "41f8f5b01b20b282",
        "name": "Enviar Controle AC",
        "topic": "sensor/ar-condicionado",
        "qos": "0",
        "retain": "false",
        "broker": "broker_id",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "broker_id",
        "type": "mqtt-broker",
        "name": "MeuBrokerMQTT",
        "broker": "BROKER_IP",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Dashboard Ar-Condicionado",
        "icon": "dashboard",
        "order": 1
    }
]